body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.caja-calculadora{
    background-color: aqua;
    max-width: 360px;
}