body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: coral;
}
#calculator{
    background-color: aqua;
    max-width: 360px;
    border-radius: 10px;
    padding: 20px;
}
#display{
    height: 40px;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color:rgb(255, 222, 228);
    border: none;
    background-color: rgba(13, 27, 42, 0.555);
    box-sizing: border-box;
}
button{
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    float: left;
    color: bisque;
    background-color: rgba( 13, 27, 42);
    -webkit-box-shadow:-1px 1px 30px -5px  rgba(0, 0, 0, 0.2) ;
    -moz-box-shadow:-1px 1px 30px -5px  rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 30px -5px  rgba(0, 0, 0, 0.2);
}
.operator{
    color: chartreuse;
}
.equal{
    width: calc(50% - 10px);
}